:root {
  --theme-radius-size-xs: calc(1rem / 8);
  --theme-radius-size-sm: calc(1rem / 4);
  --theme-radius-size-md: calc(1rem / 2);
  --theme-radius-size-lg: 1rem;
  --theme-radius-size-xl: 2rem;
  --theme-radius-size-circle: 9999rem;
  --theme-radius-size: var(--theme-radius-size-md);

  --theme-font-size-xs: 0.75rem;
  --theme-font-size-sm: 0.875rem;
  --theme-font-size-md: 1rem;
  --theme-font-size-lg: 1.25rem;
  --theme-font-size-xl: 1.5rem;
  --theme-font-size: var(--theme-font-size-md);

  --theme-spacing-size-xs: 0.625rem;
  --theme-spacing-size-sm: 0.75rem;
  --theme-spacing-size-md: 1rem;
  --theme-spacing-size-lg: 1.25rem;
  --theme-spacing-size-xl: 2rem;
  --theme-spacing-size: var(--theme-spacing-size-sm);
}

:root,
[data-theme] {
  background-color: var(--root-bg, var(--color-base-100));
  color: var(--color-base-content);
}

:where(
  :root:has(
      .modal-open,
      .modal[open],
      .modal:target,
      .modal-toggle:checked,
      .drawer:not(.drawer-open) > .drawer-toggle:checked
    )
) {
  overflow: hidden;
  scrollbar-gutter: stable;
  background-image: linear-gradient(
    var(--color-base-100),
    var(--color-base-100)
  );
  --root-bg: color-mix(in srgb, var(--color-base-100), oklch(0% 0 0) 40%);
}

html:has(body[data-scroll-locked]) {
  overflow: hidden !important;
}
html body[data-scroll-locked] {
  overflow: visible !important;
}

:root,
*,
*::before,
*::after {
  scrollbar-width: thin;
}

h5 {
  @apply text-base font-bold my-2;
}
h6 {
  @apply text-sm font-bold my-2;
}

.input[type="number"].input[type="number"]::-webkit-inner-spin-button,
.input[type="number"].input-md[type="number"]::-webkit-inner-spin-button {
  margin-block: -2px;
  margin-inline-end: calc(var(--input-padding-right, 8px) * -1);
}

.join {
  .btn.join-item:is(input[type="checkbox"], input[type="radio"]) {
    &:checked {
      outline-width: 1px !important;
      outline-offset: 0 !important;
    }
  }
}
